.about-us {
  height: 800px;
  .container {
    //height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    gap: 30px;
    .foto1 {
      height: auto;
      width: 400px;
      align-self: center;
    }
    h2 {
      margin-top: 40px;
      text-align: center;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d;
    }
    p {
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 20px;
      color: #979797;
      font-size: 14px;
      text-align: center;
    }
  }
  .foto2 {
    width: 80%;
    height: auto;
  }
}