.contact-us {
  height: 825px;
  background: $red;
  iframe {
    width: 100%;
    margin-top: 5px;
    //border: 1px solid blue;
  }
  .container {
    //height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2 {
      text-align: center;
      margin-top: 40px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d;
    }
    img {
      height: auto;
      width: 400px;
      align-self: center;
    }
    .text {
      text-align: center;
      p {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #4d4d4d;
        font-size: 14px;
      }
    }
    section {
      width: 100%;
      display: flex;
      //justify-content: center;
      justify-content: space-around;
      div {
        width: 354px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center;
        i {
          font-size: 30px;
          color: #4d4d4d;
          width: max-content;
        }
        i:hover {
          cursor: pointer;
        }
        a {
          text-decoration: none;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 20px;
          color: #4d4d4d;
          font-size: 14px;
          text-align: center;
          width: max-content;
        }
      }
      p {
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #4d4d4d;
        font-size: 14px;
        width: max-content;
      }
    }
  }
}