.footer {
  height: 76px;
  background: $blue;
  padding-top: 20px;
  .container {
    //height: inherit;
    div {
    display: flex;
    flex-direction: column;
    align-items: center;
      p {
        text-align: center;
        color: #d6d6d6;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
      }
    }
  }
}