@media (min-width: 768px) and (max-width: 1024px) {
  .top {
    display: none;
  }
  .about-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px 10px 0 10px;
    }
  }
  .services {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      .size {
        .box {
          flex-direction: column;
          gap: 30px;
          .vrapp {
            width: 100%;

          }
        }
      }
    }
  }
  .portfolio {
    height: auto;
    .container {
      padding: 10px;
      width: 100%;
      .portfolio-bottom {
        display: none;
      }
    }
  }
  .contact-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        div {

        }
      }
    }
  }
  .footer {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
}

@media (max-width: 767px) {
  .top {
    display: none;
  }
  .about-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px 10px 0 10px;
    }
  }
  .services {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      .size {
        .box {
          flex-direction: column;
          gap: 30px;
          .vrapp {
            width: 100%;

          }
        }
      }
    }
  }
  .portfolio {
    height: auto;
    .container {
      padding: 10px;
      width: 100%;
      .portfolio-bottom {
        display: none;
      }
    }
  }
  .contact-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        div {

        }
      }
    }
  }
  .footer {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
}

@media (max-width: 480px) {
  .top {
    display: none;
  }
  .about-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px 10px 0 10px;
    }
  }
  .services {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      .size {
        .box {
          flex-direction: column;
          gap: 30px;
          .vrapp {
            width: 100%;

          }
        }
      }
    }
  }
  .portfolio {
    height: auto;
    .container {
      padding: 10px;
      width: 100%;
      .portfolio-bottom {
        display: none;
      }
    }
  }
  .contact-us {
    height: auto;
    .container {
      width: 100%;
      padding: 10px;
      section {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        div {

        }
      }
    }
  }
  .footer {
    .container {
      width: 100%;
      padding: 10px;
    }
  }
}