.portfolio {
  height: 560px;
  .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2 {
      text-align: center;
      margin-top: 40px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d;
    }
    img {
      height: auto;
      width: 400px;
      align-self: center;
    }
    .portfolio-top {
      width: 100%;
      p {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #979797;
        font-size: 14px;
      }
    }
    .portfolio-bottom {
      display: flex;
      width: 100%;
      justify-content: space-between;
      section {
        width: 24%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        img {
          width: 100%;
          height: auto;
        }
        .sect-top {
          width: 100%;
          height: 192px;
        }
        .sect-bott {
          height: 100px;
          background: #f3f3f3;
         display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h3 {
            font-family: 'Source Sans Pro', sans-serif;
            color: #4d4d4d;
            font-size: 18px;
            font-weight: 100;
            //background: #FF7C7C;
          }
          p {
            margin-top: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 20px;
            color: #979797;
            font-size: 14px;
          }
        }

      }
    }
  }
}