.services {
  height: 602px;
  background: $yellow;
  .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px;
    i {
      font-size: 24px;
    }
    h2 {
      text-align: center;
      margin-top: 30px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d;
    }
    p {
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 20px;
      color: #4d4d4d;
      font-size: 14px;
    }
    img {
      height: auto;
      width: 400px;
      align-self: center;
    }
    .size {
      margin-top: 60px;
      .box {
        display: flex;
        justify-content: space-between;
        .vrapp {
          border: 1px solid  #4d4d4d;
          width: 23%;
          section {
            width: 82px;
            height: 82px;
            border: 1px solid #4d4d4d;
            text-align: center;
            padding-top: 34px;
            margin: -46px auto auto auto;
            background: #f6eb70;
            i {
            }
          }
          p {
            padding: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 20px;
            color: #4d4d4d;
            font-size: 14px;

          }
        }
      }
    }
      div {

      p {
        text-align: center;
      }
    }
  }
}