.top {
  height: 566px;
  background: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  .fon {
    width: 100%;
    height: inherit;
    background: rgba(57,77,92, 0.8);
    .container {
      height: inherit;
     display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      h2 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;
      }
     button {
       text-transform: uppercase;
       color: white;
       font-size: 16px;
       background: none ;
       padding: 20px;
       border: 1px solid white;

       &:hover {
         background: rgba(255,255,255,0.2);
         cursor: pointer;
       }
     }
    }
  }

}