* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
.fullwidth{
  width: 100%;
}


$yellow: #F6EB70;
$red: #FF7C7C;
$blue: #394D5C;



@font-face {
  font-family: test;
  src: url("../fonts/SourceSansPro-Black.ttf");
}


@import "top";
@import "about";
@import "services";
@import "contact";
@import "portfolio";
@import "map";
@import "footer";
@import "media";