* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.container {
  width: 1170px;
  margin: 0 auto; }

.fullwidth {
  width: 100%; }

@font-face {
  font-family: test;
  src: url("../fonts/SourceSansPro-Black.ttf"); }
.top {
  height: 566px;
  background: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  .top .fon {
    width: 100%;
    height: inherit;
    background: rgba(57, 77, 92, 0.8); }
    .top .fon .container {
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px; }
      .top .fon .container h2 {
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif; }
      .top .fon .container button {
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        background: none;
        padding: 20px;
        border: 1px solid white; }
        .top .fon .container button:hover {
          background: rgba(255, 255, 255, 0.2);
          cursor: pointer; }

.about-us {
  height: 800px; }
  .about-us .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: inherit;
    gap: 30px; }
    .about-us .container .foto1 {
      height: auto;
      width: 400px;
      align-self: center; }
    .about-us .container h2 {
      margin-top: 40px;
      text-align: center;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d; }
    .about-us .container p {
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 20px;
      color: #979797;
      font-size: 14px;
      text-align: center; }
  .about-us .foto2 {
    width: 80%;
    height: auto; }

.services {
  height: 602px;
  background: #F6EB70; }
  .services .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px; }
    .services .container i {
      font-size: 24px; }
    .services .container h2 {
      text-align: center;
      margin-top: 30px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d; }
    .services .container p {
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 20px;
      color: #4d4d4d;
      font-size: 14px; }
    .services .container img {
      height: auto;
      width: 400px;
      align-self: center; }
    .services .container .size {
      margin-top: 60px; }
      .services .container .size .box {
        display: flex;
        justify-content: space-between; }
        .services .container .size .box .vrapp {
          border: 1px solid  #4d4d4d;
          width: 23%; }
          .services .container .size .box .vrapp section {
            width: 82px;
            height: 82px;
            border: 1px solid #4d4d4d;
            text-align: center;
            padding-top: 34px;
            margin: -46px auto auto auto;
            background: #f6eb70; }
          .services .container .size .box .vrapp p {
            padding: 20px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 20px;
            color: #4d4d4d;
            font-size: 14px; }
    .services .container div p {
      text-align: center; }

.contact-us {
  height: 825px;
  background: #FF7C7C; }
  .contact-us iframe {
    width: 100%;
    margin-top: 5px; }
  .contact-us .container {
    display: flex;
    flex-direction: column;
    gap: 30px; }
    .contact-us .container h2 {
      text-align: center;
      margin-top: 40px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d; }
    .contact-us .container img {
      height: auto;
      width: 400px;
      align-self: center; }
    .contact-us .container .text {
      text-align: center; }
      .contact-us .container .text p {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #4d4d4d;
        font-size: 14px; }
    .contact-us .container section {
      width: 100%;
      display: flex;
      justify-content: space-around; }
      .contact-us .container section div {
        width: 354px;
        display: flex;
        flex-direction: column;
        gap: 3px;
        align-items: center; }
        .contact-us .container section div i {
          font-size: 30px;
          color: #4d4d4d;
          width: max-content; }
        .contact-us .container section div i:hover {
          cursor: pointer; }
        .contact-us .container section div a {
          text-decoration: none;
          font-family: 'Source Sans Pro', sans-serif;
          line-height: 20px;
          color: #4d4d4d;
          font-size: 14px;
          text-align: center;
          width: max-content; }
      .contact-us .container section p {
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #4d4d4d;
        font-size: 14px;
        width: max-content; }

.portfolio {
  height: 560px; }
  .portfolio .container {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 30px; }
    .portfolio .container h2 {
      text-align: center;
      margin-top: 40px;
      font-size: 36px;
      line-height: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 300;
      color: #4d4d4d; }
    .portfolio .container img {
      height: auto;
      width: 400px;
      align-self: center; }
    .portfolio .container .portfolio-top {
      width: 100%; }
      .portfolio .container .portfolio-top p {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        line-height: 20px;
        color: #979797;
        font-size: 14px; }
    .portfolio .container .portfolio-bottom {
      display: flex;
      width: 100%;
      justify-content: space-between; }
      .portfolio .container .portfolio-bottom section {
        width: 24%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .portfolio .container .portfolio-bottom section img {
          width: 100%;
          height: auto; }
        .portfolio .container .portfolio-bottom section .sect-top {
          width: 100%;
          height: 192px; }
        .portfolio .container .portfolio-bottom section .sect-bott {
          height: 100px;
          background: #f3f3f3;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center; }
          .portfolio .container .portfolio-bottom section .sect-bott h3 {
            font-family: 'Source Sans Pro', sans-serif;
            color: #4d4d4d;
            font-size: 18px;
            font-weight: 100; }
          .portfolio .container .portfolio-bottom section .sect-bott p {
            margin-top: 10px;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 20px;
            color: #979797;
            font-size: 14px; }

.footer {
  height: 76px;
  background: #394D5C;
  padding-top: 20px; }
  .footer .container div {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .footer .container div p {
      text-align: center;
      color: #d6d6d6;
      font-family: 'Source Sans Pro', sans-serif;
      line-height: 20px; }

@media (min-width: 768px) and (max-width: 1024px) {
  .top {
    display: none; }

  .about-us {
    height: auto; }
    .about-us .container {
      width: 100%;
      padding: 10px 10px 0 10px; }

  .services {
    height: auto; }
    .services .container {
      width: 100%;
      padding: 10px; }
      .services .container .size .box {
        flex-direction: column;
        gap: 30px; }
        .services .container .size .box .vrapp {
          width: 100%; }

  .portfolio {
    height: auto; }
    .portfolio .container {
      padding: 10px;
      width: 100%; }
      .portfolio .container .portfolio-bottom {
        display: none; }

  .contact-us {
    height: auto; }
    .contact-us .container {
      width: 100%;
      padding: 10px; }
      .contact-us .container section {
        flex-direction: column;
        align-items: center;
        gap: 10px; }

  .footer .container {
    width: 100%;
    padding: 10px; } }
@media (max-width: 767px) {
  .top {
    display: none; }

  .about-us {
    height: auto; }
    .about-us .container {
      width: 100%;
      padding: 10px 10px 0 10px; }

  .services {
    height: auto; }
    .services .container {
      width: 100%;
      padding: 10px; }
      .services .container .size .box {
        flex-direction: column;
        gap: 30px; }
        .services .container .size .box .vrapp {
          width: 100%; }

  .portfolio {
    height: auto; }
    .portfolio .container {
      padding: 10px;
      width: 100%; }
      .portfolio .container .portfolio-bottom {
        display: none; }

  .contact-us {
    height: auto; }
    .contact-us .container {
      width: 100%;
      padding: 10px; }
      .contact-us .container section {
        flex-direction: column;
        align-items: center;
        gap: 10px; }

  .footer .container {
    width: 100%;
    padding: 10px; } }
@media (max-width: 480px) {
  .top {
    display: none; }

  .about-us {
    height: auto; }
    .about-us .container {
      width: 100%;
      padding: 10px 10px 0 10px; }

  .services {
    height: auto; }
    .services .container {
      width: 100%;
      padding: 10px; }
      .services .container .size .box {
        flex-direction: column;
        gap: 30px; }
        .services .container .size .box .vrapp {
          width: 100%; }

  .portfolio {
    height: auto; }
    .portfolio .container {
      padding: 10px;
      width: 100%; }
      .portfolio .container .portfolio-bottom {
        display: none; }

  .contact-us {
    height: auto; }
    .contact-us .container {
      width: 100%;
      padding: 10px; }
      .contact-us .container section {
        flex-direction: column;
        align-items: center;
        gap: 10px; }

  .footer .container {
    width: 100%;
    padding: 10px; } }

/*# sourceMappingURL=style.css.map */
